<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Send a message</title>

    <!-- Font Icon -->

    <!-- Main css -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='../static/css4/style.css') }}">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
	<!-- Bootstrap core CSS -->

	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='../static/css2/bootstrap.min.css') }}">
	<!-- Material Design Bootstrap -->

	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='../static/css2/mdb.min.css') }}">
	<!-- Your custom styles (optional) -->

	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='../static/css2/style.css') }}">
  
</head>
<body>

    <div class="main">
       

        <section class="signup">
            <!-- <img src="images/signup-bg.jpg" alt=""> -->
            <div class="container">
                <div class="signup-content">
                    {% if msg %}
                    <div class="alert alert-success" role="alert">
                    <center><h5>{{ msg }}</h5></center>
                    </div>
                    {% endif %}
                    
                    {% if results %}
                    {% for result in results  %}
                        <center><h4>The license plate detected was <span style='font-weight:bold;' >{{ result.license_plate }}</span> <br>  and it is registered to <span style='font-weight:bold;' >{{ result.Fullname }}</span> </h4></center>
                    {% endfor %}
                    {% else %}
                    <center><h4>No such person matches the license plate uploaded</h4></center>
                    {% endif %}
                    
                    <form action='http://localhost:5000/success' method=post >
                        <h4>Send a message!</h4>
            {% for result in results  %}
            <input type="hidden" id="form34" class="form-control validate" name='number' value="{{ result.number }}">
            {% endfor %}
            
       
        <input type="hidden" id="form34" class="form-control validate">
        
        <div class="md-form mb-5">
        <select class="browser-default custom-select" name='option'>
            <option selected >Choose default messages</option>
            <option value="Please re-park" >Please re-park</option>
            <option value="You have taken a dedicated car spot!" >You have taken a dedicated car spot!</option>
            <option value="A person wants to move. Kindly come and re-park">I want to move. Kindly come and re-park</option>
        </select>
      </div>

        <div class="md-form">
          <i class="fas fa-pencil prefix grey-text"></i>
          <textarea type="text" id="form8" class="md-textarea form-control" rows="4" name='message'></textarea>
          <label data-error="wrong" data-success="right" for="form8">Your message</label>
        </div>
                    <center><button type='submit' class="btn btn-default btn-rounded mb-4">Send message<i class="fas fa-paper-plane-o ml-1"></i></button></center>
                    </form>
                </div>
            </div>
        </section>

    </div>
    
    

    <!-- JS -->
    <script src="{{url_for('static', filename='../static/js2/jquery-3.4.1.min.js')}}"></script>
  <!-- Bootstrap tooltips -->
  <script src="{{url_for('static', filename='../static/js2/popper.min.js')}}"></script>
  <!-- Bootstrap core JavaScript -->
  <script src="{{url_for('static', filename='../static/js2/bootstrap.min.js')}}"></script>
  <!-- MDB core JavaScript -->
  <script src="{{url_for('static', filename='../static/js2/mdb.min.js')}}"></script>
  <script src="{{url_for('static', filename='../static/js/jquery.js')}}"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
